<%- include("partials/header") %> 



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1>About Us</h1>
            <p>The mission of <strong>Developer Thought</strong> is provide essential ideas and valuable information created by developers from different parts of the world. Developers can be people or organizations who build helpful things to make life easier, like machine learner, software developers, designers, etc. All the information collected was based on research conducted by Developer Thought staff. </p>

        </div>
        <div class="col-4">
            <h3>Stuff Photo here</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, illum fugiat laborum molestias sunt doloribus provident distinctio, impedit voluptatum non autem velit. Rerum minus libero labore debitis voluptas possimus laboriosam.</p>
            <h3>Adverticement here</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea deserunt ratione aliquid quidem aspernatur reprehenderit est, voluptatem similique maiores sapiente quos suscipit quam! Praesentium odit illo similique alias sit at.</p>
        
        </div>
    </div>
</div>





<%- include("partials/footer") %> 