<%- include("partials/header")  %>

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1><%= title %></h1>
            <p><%= content %> </p>
        </div>
        <div class="col-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo saepe tenetur asperiores vel dolores fuga
            minima, tempore sapiente nostrum perferendis quaerat itaque error adipisci praesentium reiciendis esse
            optio? Itaque?
        </div>
    </div>
</div>









<%- include("partials/footer") %>